/* Toggle switch style - credit to w3schools */

/* The switch - the box around the slider */
.switch 
{
  position: relative;
  display: inline-block;
  width: 3.25em;
  height: 1.25em;
}

/* Hide default HTML checkbox */
.switch input 
{
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider2 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #707070;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2:before 
{
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.125em;
  bottom: 0.125em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider2 
{
  background-color: #ff70fa;
}

input:focus + .slider2 
{
  box-shadow: 0 0 1px #ff70fa;
}

input:checked + .slider2:before 
{
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em);
  content: "";
}

/* Rounded sliders */
.slider2.round 
{
  border-radius: 1em;
}

.slider2.round:before 
{
  border-radius: 50%;
}

.resizing 
{
  transition: none;
}